[bumpversion]
current_version = 0.39.0a3
commit = true
tag = true
tag_name = backend-v{new_version}
message = Bump backend version to {new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:(?P<prerel>a|b|rc)(?P<prerel_num>\d+))?
serialize = {major}.{minor}.{patch}{prerel}{prerel_num}
	{major}.{minor}.{patch}

[bumpversion:part:prerel]
values = a
	b
	rc
	final
optional_value = final

[bumpversion:part:prerel_num]
first_value = 1

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:../../uv.lock]
search = [[package]]
	name = "orcheo-backend"
	version = "{current_version}"
replace = [[package]]
	name = "orcheo-backend"
	version = "{new_version}"
